{% extends "base.html" %}
{% block body %} 

<body style="background-color:linen;">
    {% if not properties %}
        <div class="card" style="margin: 20px">
            <div class="row">
                <div class="col-md-4 offset-md-4" style="padding: 60px">
                    <div style="color:darkcyan;"><strong>No available properties at the moment</strong></div>
                </div>
            </div>
        </div>
    {% endif %}
    <!--<div class="row">-->
    {% for property in properties %}
        <!--
        <div class="col-auto mb-2">
            <div class="card mb-2" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">{{property["name"]}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{property["price"]}}</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Rent</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        -->
        <div class="card flex-row flex-wrap" style="margin: 20px">
            <div class="card-header border-0">
                <img src="//placehold.it/200x225" alt="">
            </div>
            <div class="card-block px-4 py-4">
                <h4 class="card-title">{{property["propertyName"]}}</h4>
                <p class="card-text" style="color:darkgray">{{property["address"]}}</p>
                <p class="card-text" style="color:green"><strong>{{property["price"]}}</strong></p>
                <p class="card-text">{{property["propertyType"]}}</p>
                <p class="card-text">{{property["description"]}}</p>
                <!--<a href="/properties" class="btn btn-primary">Rent this property</a>-->
                <form action="{{ url_for('rent_property') }}" method=POST>
                    <input type=hidden value="{{ property }}" name="rented_property_id"></input>
                    <button type="submit" class="btn btn-primary btn-block">Rent this property</button>
                </form>
            </div>
            <div class="w-100"></div>
            <div class="card-footer w-100 text-muted">
                Owned by {{property["owner"]}}
            </div>
        </div>
    {% endfor %}
    </div>
</body>
{% endblock %}